*.log
auto/
books/_build/*
.dvi
.gz
*~
.DS_Store
*.swp
_build/*
*/_build/*
*.byte
*.cm[oxi]
tmp/**/*
*.pyg
*.gz
_region_*
*.aux
*.div
*.log
*.out
*.toc
.#.gitignore
*_build*
*.pdf
master.tdo
#*
.#*
code/cmidump
code/deriving
code/general